body {
    background-image: url("images/Image\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.div {
    align-content: center;
    background-color: white;
}

.main-header {
    text-align: center;
}

.images {
    display: flex;
    width: 50%;
    border: 3px inset blue;
}

.pic-cont {
    display: flex;
    justify-content: space-around;
}

.donate-button {
    margin: 0% 20% 0% 0%
}

.btm-buttons {
    display: flex;
    justify-content: space-evenly;
}